<body>
  <!---BG -->
  <img class="BGSlid" src="../assets/E_tablet.png">

  <!---toolbar -->
  <app-toolbar style=" width: 100%;"> </app-toolbar>

  <!---header -->
  <header>
    <div class="flex-contact">
      <div class="contact-element">
        FAQs
      </div>
    </div>
  </header>

  <!---main -->
  <main>

    <div class="desc-element">
      <div class="warper">
        <div class="text-desc-element">
          <div class="red-head"> FAQs </div>
          <div class="bace-desc-text">
            FAQs
          </div>
        </div>
      </div>
    </div>

    <div style="height:100px"></div>

    <!--- footer -->
    <div class="desc-element">
        <div style="width: 100%; position: relative; background-color: #E1E6EF;  height: 1px; bottom:0"></div>
        <div class="flex-container">
          <div class="flex-footer-element stacked-group-element-left"> © 2018 Evenz Group, Inc. </div>
          <div class="flex-footer-element">
              <a href="#/Privacy" routerlink="/Privacy" class="stacked-group-element"> Privacy </a>

              <a href="#/TermsOfUse" routerlink="/TermsOfUse" class="stacked-group-element"> Terms of Use </a>
    
              <a href="#/Copyright" routerlink="/Copyright" class="stacked-group-element"> Copyright </a>
    
              <a href="#/FAQs" routerlink="/FAQs" class="stacked-group-element"> FAQs </a>
          </div>
        </div>
      </div>
  </main>
</body>