<body>
    
    <!---BG -->
    <img class="BGSlid" src="../assets/E_tablet.png">

    <!---toolbar -->
    <app-toolbar style=" width: 100%;"> </app-toolbar>

    <!---header -->
    <header>
        <div class="flex-contact">
            <div class="contact-element">
                About Us
            </div>
        </div>
    </header>

    <!---main -->
    <main>
        
        <!--- desc-element 1 -->
        <div class="desc-element">
            <div class="warper">
                <div class="imgT"> </div>
                <div class="text-desc-element">
                    <div class="red-head">
                        Find the best events around you or create them!
                    </div>

                    <div class="bace-desc-text">
                            Evenz is a search engine for social and cultural events, aggregating information from multiple sources and offering price comparisons. It also allows you to generate your own events!
                            Detailed maps show your location and mark events, including concerts, movies, performing arts, family events, sports and more. Navigate on the go or plan ahead.
                    </div>
                </div>
            </div>
        </div>

        <!--- desc-element 2 -->
        <div class="desc-element">
            <div class="warper around">
                <div class="text-desc-element">
                    <div class="red-head">
                       Go out, explore, connect with friends, have more fun!
                    </div>
                    <div class="bace-desc-text">
                            Find something new to do, whether you are in your hometown or traveling around the world, search for concerts, festivals, live music, classes, conferences, parties free events and more. Find and filter events by distance, date or category.
                            <br>
                            Our system analyzes thousands of events listings and rates the best bargains. Now you can sort by value to find the best deal. Choose an event, and we'll find you the best value seats after searching on multiple sites.
                    </div>
                </div>
                <div class="imgM"> </div>
            </div>
        </div>

        <!--- desc-element 3 -->
        <div class="desc-element">
            <div class="warper">
                <div class="imgS"> </div>
                <div class="text-desc-element">
                    <div class="red-head">
                        Don’t miss out! Receive notifications
                        <br> for upcoming events. Anytime, Anywhere.
                    </div>

                    <div class="bace-desc-text">
                            Receive personal notifications recommending events for you based on your location, preferences and events liked by you and your friends. Go out, explore, appreciate art, learn and get inspired.
                            We’re committed to helping you find tickets quickly, so you can focus on what matters the most: enjoying life!
                    </div>
                </div>
            </div>
        </div>

        <!--- Footer + desc-element 4 -->
        <div class="desc-element">
            <!--- divider-->
            <div style="width: 100%; position: relative; background-color: #E1E6EF;  height: 1px; bottom:0"></div>

            <div class="flex-container">
                <div class="flex-footer-element stacked-group-element-left">
                    &#169; 2018 Evenz Group, inc.
                </div>
                <div class="flex-footer-element">
                        <a href="#/Privacy" routerlink="/Privacy" class="stacked-group-element"> Privacy </a>

                        <a href="#/TermsOfUse" routerlink="/TermsOfUse" class="stacked-group-element"> Terms of Use </a>
              
                        <a href="#/Copyright" routerlink="/Copyright" class="stacked-group-element"> Copyright </a>
              
                        <a href="#/FAQs" routerlink="/FAQs" class="stacked-group-element"> FAQs </a>
                </div>
            </div>
        </div>
    </main>
</body>