<body>
    <!---BG -->
    <img class="BGSlid" src="../assets/E_tablet.png">

    <!---toolbar -->
    <app-toolbar style=" width: 100%;"> </app-toolbar>

    <!---header -->
    <header>
        <div class="flex-contact">
            <div class="contact-element">
                Partnerships
            </div>
        </div>
    </header>

    <!---main -->
    <main>
        
        <!--- desc-element 1 -->
        <div class="desc-element">
            <div class="warper">
                <div class="text-desc-element">
                    <div class="red-head">
                        Interested in partnering with Evenz?
                    </div>
                    <div class="bace-desc-text">
                        If you and your company would like to partner with Evenz, please contact us and let us know how
                        <a class="a-email" href="info@evenz.co">info@evenz.co</a>. If you are an Evenz user with a question, please contact
                        <a class="a-email" href="support@evenz.co">support@evenz.co</a>.
                    </div>
                </div>
            </div>
        </div>

        <!--- footer -->
        <div class="footer">
            <div style="width: 100%; position: relative; background-color: #E1E6EF;   height: 1px; bottom:0"></div>
            <div class="flex-container">
                <div class="flex-footer-element stacked-group-element-left">
                    &#169; 2018 Evenz Group, inc.
                </div>
                <div class="flex-footer-element">
                        <a href="#/Privacy" routerlink="/Privacy" class="stacked-group-element"> Privacy </a>

                        <a href="#/TermsOfUse" routerlink="/TermsOfUse" class="stacked-group-element"> Terms of Use </a>
              
                        <a href="#/Copyright" routerlink="/Copyright" class="stacked-group-element"> Copyright </a>
              
                        <a href="#/FAQs" routerlink="/FAQs" class="stacked-group-element"> FAQs </a>
                </div>
            </div>
        </div>
    </main>
</body>